<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{main-layout/layout}" lang="es">

<body>

<head>
    <title layout:fragment="pageTitle">gRPC Java Lab - Gestionar Comunidad</title>
</head>

<!-- Contenido que se inyectará en layout.html -->
<div layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestionar Comunidades</h1>
    <p class="mb-4">Aqui puede gestionar las comunidades del sistema.</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Comunidades</h6>
        </div>
        <div class="card-body" id="filterAndTable" th:fragment="filterAndTable">
            <!-- El form envía filtros + paginación por POST -->
            <form th:object="${filtro}"
                  data-hx-post="@{/comunidad/buscar}"
                  data-hx-target="'#filterAndTable'"
                  data-hx-swap="outerHTML" >

                <!-- Paginated hidden -->
                <input type="hidden" th:field="*{paginated.pageSize}"/>
                <input type="hidden" th:field="*{paginated.totalPages}"/>
                <!-- NOTA: pageNumber lo enviaremos con los botones de paginación -->

                <!-- Filtros -->
                <div class="row">
                    <div class="pl-3 mb-3">
                        <a href="#filtrosWrapper" data-toggle="collapse" aria-expanded="false"
                           aria-controls="filtrosWrapper">
                            <i class="fa fa-filter mr-1"></i>Filtros
                        </a>
                    </div>
                </div>

                <div id="filtrosWrapper" class="row collapse" th:fragment="filter">
                    <div class="pl-3 pr-3 mb-5 w-100 small">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="filtroId">Id Comunidad</label>
                                <input type="text" name="id" class="form-control" id="filtroId" th:value="*{id}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="filtroNombre">Nombre Comunidad</label>
                                <input type="text" name="nombre" class="form-control" id="filtroNombre"
                                       th:value="*{nombre}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="filtroDireccion">Dirección</label>
                                <input type="text" name="direccion" class="form-control" id="filtroDireccion"
                                       th:value="*{direccion}">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="filtroRegion">Región</label>
                                <select id="filtroRegion" name="regionId" class="form-control" th:value="*{regionId}">
                                    <option value="">Choose...</option>
                                    <!-- opciones -->
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="filtroProvincia">Provincia</label>
                                <select id="filtroProvincia" name="provinciaId" class="form-control"
                                        th:value="*{provinciaId}">
                                    <option value="">Choose...</option>
                                    <!-- opciones -->
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="filtroComuna">Comuna</label>
                                <select id="filtroComuna" name="comunaId" class="form-control" th:value="*{comunaId}">
                                    <option value="">Choose...</option>
                                    <!-- opciones -->
                                </select>
                            </div>
                        </div>

                        <!-- Botón de aplicar filtros (POST) -->
                        <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                        <button type="reset" class="btn btn-secondary ml-2">Limpiar Filtros</button>
                    </div>
                </div>

                <!-- Tabla -->
                <div class="row">
                    <div class="table-responsive pl-3 pr-3" th:fragment="table">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Comuna</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">Region</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comunidad : ${comunidades}" th:data-id-comunidad="${comunidad.id}">
                                <th scope="row" th:text="${comunidad.idAbreviado}" th:title="${comunidad.id}"></th>
                                <td th:text="${comunidad.nombre}"></td>
                                <td th:text="${comunidad.tipoNombre}"></td>
                                <td th:text="${comunidad.direccion}"></td>
                                <td th:text="${comunidad.comunaNombre}"></td>
                                <td th:text="${comunidad.provinciaNombre}"></td>
                                <td th:text="${comunidad.regionNombre}"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Paginación -->
                <div class="row" th:if="${filtro.paginated.totalPages > 1}">
                    <div class="col-auto ml-auto pr-3">
                        <nav>
                            <ul class="pagination">

                                <!-- Botón anterior -->
                                <li class="page-item"
                                    th:classappend="${filtro.paginated.pageNumber == 0} ? ' disabled'">
                                    <button type="submit"
                                            class="page-link btn btn-link p-0"
                                            name="paginated.pageNumber"
                                            th:value="${filtro.paginated.pageNumber - 1}"
                                            th:disabled="${filtro.paginated.pageNumber == 0}">
                                        &laquo;
                                    </button>
                                </li>

                                <!-- Números de página -->
                                <th:block th:with="
                start=${T(java.lang.Math).max(1, filtro.paginated.pageNumber - 3)},
                end=${T(java.lang.Math).min(filtro.paginated.totalPages, filtro.paginated.pageNumber + 3)}">

                                    <li class="page-item"
                                        th:each="p : ${#numbers.sequence(start, end)}"
                                        th:classappend="${p == filtro.paginated.pageNumber + 1} ? ' active'">
                                        <button type="submit"
                                                class="page-link btn btn-link p-0"
                                                name="paginated.pageNumber"
                                                th:value="${p - 1}">
                                            <span th:text="${p}">1</span>
                                        </button>
                                    </li>
                                </th:block>

                                <!-- Botón siguiente -->
                                <li class="page-item"
                                    th:classappend="${(filtro.paginated.pageNumber + 1) == filtro.paginated.totalPages} ? ' disabled'">
                                    <button type="submit"
                                            class="page-link btn btn-link p-0"
                                            name="paginated.pageNumber"
                                            th:value="${filtro.paginated.pageNumber + 1}"
                                            th:disabled="${(filtro.paginated.pageNumber + 1) == filtro.paginated.totalPages}">
                                        &raquo;
                                    </button>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

</body>
</html>